.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-container {
  height: 100vh;
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start
}

.nav-link-container {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #fff;
  -webkit-box-shadow: 14px 0px 31px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 0px 31px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 0px 31px -29px rgba(0, 0, 0, 0.75);
  transition: left 1s;
  position: inherit;
  left: -180px;
}

.open-nav {
  left: 0;
}

.hamburger-menu {
  position: absolute;
  z-index: 99;
}

.nav-link {
  margin-top: 8px;
  padding: 12px 66px 12px 16px;
  text-decoration: none;
  color: #F4A259;
  font-weight: 600;
}

.active,
.pending {
  color: #E6730F;
  background-color: #FAD7B7;
}

.nav-link:hover {
  background-color: #FAD7B7;
}

.nav-link span {
  margin-left: 4px;
}

.login-container {
  background-color: #fff;
  border: 3px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
  padding: 40px;
  margin: auto;
  position: relative;
  top: 150px;
}

input[type=text],
input[type=password] {
  appearance: none;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px 4px;
  display: block;
  border-bottom: .2em solid #E6730F;
  background: rgba(#E6730F, .2);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: #E6730F;
  margin-top: 16px;
}

.btn-login {
  appearance: none;
  display: block;
  width: 100%;
  margin: 16px 0;
  border: .2em solid #E6730F;
  background: hsl(0 0 0/0);
  padding: .85em 1.5em;
  color: #E6730F;
  border-radius: 10px;
  transition: .3s;
  font-weight: 600;
}

.btn-login:hover,
.btn-login:active,
.btn-login:focus {
  background: #E6730F;
  color: #fff;
}

.psw,
.signup,
.singin {
  display: block;
  margin: 20px 0;
  font-size: 0.75em;
  text-align: center;
  color: #42509e;
  cursor: pointer;
}

.banner {
  background-color: #F4A259;
  width: 100%;
  border-radius: 0 0 50px 50px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profile-section {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 80px;
}

.info h4,
.info p {
  margin: 0;
  text-align: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.button-group {
  position: relative;
  top: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-outline {
  width: 80%;
  background-color: #fff;
  border: 3px solid #E6730F;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 16px;
  margin-top: 16px;
}

.btn-outline:hover {
  background-color: #E6730F;
  color: #fff;
}

.btn-outline p {
  font-weight: 600;
  margin-left: 4px;
  font-size: 18px;
}

.overview-container {
  width: 100vw;
  position: relative;
  padding: 44px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.month-wrapper {
  width: 100%;
  margin: auto;
  display: inherit;
  justify-content: center;
}
.month-picker {
  width: 100%;
  background-color: #fff;
  border: 2px solid #E6730F;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .profile-banner {
    background-color: #F4A259;
    width: 28%;
    border-radius: 50px 0px 0px 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: unset;
    z-index: 1;
  }

  .profile-section {
    right: 0;
    width: 28%;
    height: 100%;
    left: unset;
    float: right;
  }

  .button-group {
    width: 70%;
    margin-left: auto;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}